.service {
    font-family: "Proxima Nova", sans-serif;
    display: flex;
    flex-direction: column;

    margin-top: 135px;
}

.service__square {
    display: flex;
    justify-content: center;

    position: relative;


    height: 320px;
    background-color: #000000;
}

.service__circle {
    position: absolute;

    width: 418px;
    height: 418px;

    background: #E4252C;
    mix-blend-mode: screen;

    filter: blur(248px);
}

.circle-1 {
    width: 348px;
    height: 348px;
    transform: translate(480px, -145px);

    filter: blur(161.5px);
}

.circle-2 {
    transform: translate(-392px, -154px);

    opacity: 0.3;
}

.circle-3 {
    transform: translate(-575px, -175px);
}

.circle-4 {
    transform: translate(580px, -66px);
}

.service__title {
    font-weight: 800;
    font-size: 80px;

    color: #E92129;
}

.service__card-container{
    background: white;
}

.service__card-level-1,
.service__card-level-2{
    display: flex;

    gap: 30px;

    transform: translate(0px, -110px);
}

.service__card-level-2{
    margin-top: 30px;
}