.card-Mike {
    display: none;
}

.card__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.testimonial__icon-img {
    width: 70px;
    height: 70px;
}

@media (max-width: 1336px) {
    .testimonial-card-1 {
        width: 638px;
    }

    .testimonial__icon-img {
        width: 72px;
        height: 72px;
    }

    .testimonial__card-description {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .testimonial-card-1 {
        width: 488px;
    }
}