.portfolio {
    font-family: "Proxima Nova", sans-serif;
    display: flex;
    align-items: center;

    height: 475px;
}

.portfolio__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.portfolio__title {
    font-weight: 800;
    font-size: 80px;

    margin-bottom: 0;
}

.swiper-button {
    display: flex;
    justify-content: end;
}


.portfolio__button {
    height: 52px;

    border-radius: 12px;
    border-style: none;

    font-weight: 700;
    font-size: 16px;

    background: #578FCA;
    color: white;

    cursor:pointer;
}

.portfolio__description {
    font-weight: 400;
    font-size: 18px;

    color: #1C1C1C;
}

@media (max-width:1366px) {
    .portfolio__title {
        font-size: 50px;
    }
}

@media (max-width:1024px) {
    .portfolio__title {
        font-size: 30px;
    }
}

@media (max-width:800px) {
    .portfolio__title {
        font-size: 30px;
    }
}