.portfolio__img {
    width: 750px;
    height: 402px;
    object-fit: cover;
}

.swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #0077ff; 
}

@media (max-width: 1366px) {

    .portfolio__layner-img,
    .portfolio__kitchen-img,
    .portfolio__room-img {
        width: 638px;
        height: 342px;
    }
}

@media (max-width: 1024px) {

    .portfolio__layner-img,
    .portfolio__kitchen-img,
    .portfolio__room-img {
        width: 520px;
        height: 330px;
    }
}