.footer {
    font-family: "Proxima Nova", sans-serif;

    margin-top: 213px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 178px;
    padding-bottom: 73px;

    background: #3674B5;
}

.footer__logo {
    width: 150px;
    height: 150px;
    
    border-radius: 50%;

    transform: translateY(-220px);
}

.footer__logo-content{
    position: absolute;
}


.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #FFFFFF;
}

.footer__info-number,
.footer__info-email,
.footer__info-geo {
    font-size: 21px;
    font-weight: 400;
}

.footer__contacts-block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.footer__info {
    display: flex;
    flex-direction: column;
}

.footer__list {
    list-style: none;
    display: flex;

    gap: 107px;
    padding: 0;

    
}

.footer__item-link {
    color: #FFFFFF;
    text-decoration: none;

    font-weight: 400;
    font-size: 21px;
}

.footer__blank {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.footer__title {
    font-weight: 700;
    font-size: 32px;

    color: #FFFFFF;
}

.footer__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__blank-email {
    width: 640px;
    height: 61px;

    font-weight: 400;
    font-size: 21px;

    background: #FFF9E6;
    color: #5F5F5F;
}

.footer__blank-button {
    width: 151px;
    height: 44px;

    border-style: none;

    background: #578FCA;
    color: #FFFFFF;

    font-weight: 700;
    font-size: 17px;
    
    cursor: pointer;

    transform: translateY(-130%);
}

.footer__bottom {
    height: 89px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #27270E;
}


.footer__social__network-block {
    display: flex;
    gap: 24px;
}

.footer__botoom-copyright {
    font-weight: 400;
    font-size: 21px;

    color: #FFFFFF;
}

@media (max-width:1024px) {
    .footer__list {
        gap: 87px;
    }

    .footer__blank-email {
        width: 579px;
    }
}